/* Empty. Add your own CSS if you like */
.login{
    background-repeat: no-repeat;
  background-position:center;
  background-image: url('../img/login.png');
}
.bg1{
     background-repeat: no-repeat;
/*  background-position:top right;*/
    background-size:cover;
    background-attachment:fixed;
  background-image: url('../img/bg1.png');
}
.bg2{
     background-repeat: no-repeat;
/*  background-position:top right;*/
    background-size:100% 100%;
    background-attachment:fixed;
  background-image: url('../img/bg.png');
}
.bg5{
     background-repeat: no-repeat;
/*  background-position:top right;*/
    background-size:100% 100%;
    background-attachment:fixed;
  background-image: url('../img/bg5.jpg');
}
.button{
    color:#fff;
}
.has-footer{
    bottom:66px;
}
h2{
    font-weight:bold !important;
}
.ul1 >.item>.icon {
    font-size:20px;
     color:#213a61;
}
.ul1> a.item{
    font-size:15px;
    color:#fff;
}
.ul1>a:hover{
    border-left:5px solid #406a88;
    color:#213a61;
    font-weight:bold;
}
.pro{
    background:#406788;
}
.pro:hover{
   
   background:#213a61;
  
}
.ul1> .item-thumbnail>img{
    border-radius:50%;
}
.ba1:hover{
    background:#0f4056 !important;
    color:#fff;
}
.br2:hover{
    background:#0badad !important;
    color:#fff;
}
.circle-text {
    width:100%;
    height:100%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: transparent; 
    border:2px dotted #000;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div  h3{
    float:left;
    width:100%;
   
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:#47caaa;
}
.bp{
    background:#2ca6b3;
    margin-bottom:0px !important;
}
.bp:hover{
    background:#29939e;   margin-bottom:0px; color:#fff;
}
.dform .item{
    background:transparent;
    border:0px;
  padding:0px 60px;
}
.dform .image {
    width: 30px;
    height: 30px;
    display:block;
    margin:5px auto;
}
.dform .icon{
   color:#004965;
}
.dform input{
    margin:10px;
        border-top: 3px inset #2fb9ab;
    background: #75b1be;
    color: #fff;
    padding-left:5px;
/*
    width:50%;
    float:right;
*/
}
.abc:hover{
     position:absolute;
    top:-25px;
    left:-35px;
    width:500px;
    height:500px;
    display:block;
    z-index:999;
}
#picture {display: block; margin:0px auto;}
#picture a.small, #picture a.small:visited { display:block; width:50px; height:50px; text-decoration:none ;  margin:0px auto; border:0;}
#picture a img {border:0; display:block; margin:0px auto;}
#picture a.small:hover {text-decoration:none;  }
#picture a .large {display:block; position:relative; width:0; height:0; border:0;  left:0;}
#picture a.small:hover .large {display:block; position:relative;  left:-210px; width:200px; height:200px; z-index:1000;background:#89c6d4;
     padding:10px 10px; }


.dform input::-webkit-input-placeholder {
 color:    white;
}

.dform input::-moz-placeholder {
    color:white;
    
}

.dform .cancel{
     white-space:nowrap;
    color:#10645b;
    font-weight:bold;
}
.dform .post{
     white-space:nowrap;
    color:#25998d;
    font-weight:bold;
}
