<ion-view view-title="Playlist">
<!--<<<<<<< HEAD-->
  <ion-content>
  <div class="row" >
   <div class="col-xs-3"  >
<!--       <img  ng-src="{{img.image}}" ng-click="current='{{img.image}}'" style="width:100px; height:100px; background:#000;" />-->
         <img src="img/abc.jpg" ng-click="current='img/abc.jpg'" style="width:100px; height:100px;" />
      <img src="img/76.jpg" ng-click="current='img/76.jpg'" style="width:100px; height:100px;"/>
        <img src="img/abc.jpg" ng-click="current='img/abc.jpg'" style="width:100px; height:100px;"/>
      
      </div>   
        <div class="col-xs-9"  >
       <img   ng-src="{{current}}"  style="width:100px; height:100px;"/>
      </div>   
      </div>
  </ion-content>
</ion-view>
<!--=======-->
<!--
    <ion-content>
        <div class="row">
            <div class="col-xs-3">
                       <img  ng-src="{{img.image}}" ng-click="current='{{img.image}}'" style="width:100px; height:100px; background:#000;" />
                <img src="img/abc.jpg" ng-click="current='img/abc.jpg'" style="width:100px; height:100px;" />
                <img src="img/76.jpg" ng-click="current='img/76.jpg'" style="width:100px; height:100px;" />
                <img src="img/abc.jpg" ng-click="current='img/abc.jpg'" style="width:100px; height:100px;" />
            </div>
            <div class="col-xs-9">
               
            </div>
            <span ng-repeat="item in album"><img ng-src="{{item.image}}" alt="" width="100" height="100"></span>
        </div>
    </ion-content>
</ion-view>
-->
 
<!-->>>>>>> origin/master-->
