<ion-view view-title="Home" class="bg1 home">
   <ion-content scrollbar-y="true" has-bouncing="false"   class="has-footer transparent  " >
            <img src="img/bg.png" class="full-image" />
     <ion-list >
      <ion-item collection-repeat="item in items"  type="item-text-wrap" class="transparent"  >
          <div class="card" style=" ">
                <div class="item item-thumbnail-left " width="400" height="200" >
                   <img ng-src="{{item.image}}"/>
                   <h2 style="text-transform:capitalize;">
                   <a href="#/app/profile/{{item.id}}" class=" blue">{{item.name}}</a></h2>
                   <p> <span>To:</span>    {{item.to}}</p>
                   <p> <span>From:</span>    {{item.from}}</p>
                    <label>{{item.date}}</label>
                </div>
         </div>    
      </ion-item>
    </ion-list>  
 </ion-content>
 
 <ion-footer-bar align-title="left">
        <div class="row">
          <div class="col"> 
              <a class="button button-block buttondr bluebtn " ng-controller="ModalCtrl" ng-click="openModal()" >Driving</a>
          </div>
          <div class="col">
               <button class="button button-block buttondr grenbtn" ng-controller="RiderModalCtrl" ng-click="openModal()" >Riding</button>
          </div>
        </div>
</ion-footer-bar>
</ion-view>
