
<ion-modal-view class="transparent">
       
        <ion-content class="padding dform" has-bouncing="false" >
         
            <div class="row" >
            <div class="col col-80 fond" >
               
          <div class="list"  >
                <div class="item item-avatar item-text-wrap" style="padding-top:25px; ">
                <img ng-src="{{ current }}"/>
                   <h2 class="blue">Choose your vehicle</h2>
                </div>
                <div class="item item-icon-left item-right">
                   <i class="icon ion-location"></i>
                   <input type="text" placeholder="Current Location">
               </div>
               <div class="item item-icon-left item-right">
                   <i class="icon ion-arrow-graph-up-right"></i>
                   <input type="text" placeholder="Destination">
               </div>
               <div class="item item-icon-left item-right">
                   <i class="icon ion-map"></i>
                   <input type="text" placeholder="Route">
               </div>
               <div class="item item-icon-left item-right">
                   <i class="icon ion-android-calendar"></i>
                   <input type="text" placeholder="Date">
              </div>
              <div class="item item-icon-left item-right">
                   <i class="icon ion-android-time"></i> 
                   <input type="text" placeholder="Time">
              </div>
              <div class="item item-icon-left item-right">
                   <i class="icon ion-ios-people"></i>  
                   <input type="text" placeholder="Per head charge">
              </div>
              <div class="item item-icon-left item-right">
                   <i class="icon ion-android-car"></i> 
                   <input type="text" placeholder="Available seats">
              </div>
              <div class="item item-icon-left item-center">
                  <div class="buttons rite"  >
                    <button class="button button-clear cancel gren " ng-click="modal.hide()" >
                      Cancel
                    </button>
                    <button class="button button-clear post blue" >
                   Post
                    </button>
                </div>
              </div>
            </div>
            </div>
                
            <div class="col col-20 bluediv">
                <div class="list" ng-repeat="img in images" > 
                    <div id="picture">
                        <a class="small" href="#nogo" title="small image" ><img ng-src="{{img.image}}" ng-click="current='img/76.jpg'"                                   class="icosize"  title="small image" /><img class="large" ng-src="{{img.image}}" title="large image" />
                        </a>
                    </div>
                </div>
            </div>
    </div>
 </ion-content>
</ion-modal-view>

